/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  /* font-family: 'Ubuntu', sans-serif; */
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-image: linear-gradient(); */
  /* background-color: khaki; */

}

body {
  background-image: linear-gradient(to left, rgba(255, 0, 0, 0.5), rgba(255, 255, 0, 0.5));
}


a {
  text-decoration: none;
}

/* .header{
    position: sticky;
    /* height: 10px;
    width: 100px;
    z-index: 100;
    padding: 0 20px;

} */
.nav {
  position: sticky;
  height: 20px;
  max-width: 1100px;
  width: 100%;
  margin: 20px auto;
}

.nav,
.nav_item {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;

}

.nav_item {
  column-gap: 50px;

}

.nav_item a:focus {
  border-bottom: 2px solid #f9d10b;

}

.nav_link {
  color: cornsilk;
  font-size: 20px;
}

.nav_link:hover {
  color: #f22525;
  border-bottom: 2px solid #f9d10b;

}

/* .nav_link:focus{
  background-color: #dfdfdf7f;
  padding: 5px 10px;
  border-radius: 2px;
  opacity: 2;
  border-bottom: 2px solid #f9d10b;
} */


/* Slide Show css */
/* Slide Show css */
/* Slide Show css */

.bodySlide {
  position: relative;
  z-index: 100;
  top: -30px;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-top: 20px; */
}

.slider {
  display: flex;
  /* max-width: 650px;
  width: 100%;
  height: 400px; */
  align-items: center;
  justify-content: center;
  position: relative;
  /* border:gold 1px solid;
  padding: 50px 20px; */

}

.slider i.buttonSlide {
  /* position: absolute; */
  height: 35px;
  width: 35px;
  /* background-color: #f2c22580; */
  border: 2px solid #f2c225;
  border-radius: 50%;
  line-height: 32px;
  font-size: 15px;
  color: #f22525;
  text-align: center;
  margin: 15px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.slider i.buttonSlide:hover {
  color: #f22525;
  background-color: #f2c225;
}

.slider i.buttonSlide:active {
  transform: scale(0.95) translateY(-30%);
}


.image_container {
  height: 420px;
  max-width: 702px;
  width: 100%;
  margin: auto;
  padding: 2px;
  /* border: 2px solid rgba(255, 0, 0, 0.511); */
  overflow: hidden;

}

.image_container .picture {
  display: flex;
  height: 100%;
  width: 100%;
  transition: all 1s ease;
}

.picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: auto;
  border-radius: 15px;

  /* box-shadow: 0 0 15px rgba(255, 0, 0, 0.486); */
  border: 5px solid rgba(221, 166, 25, 0)
}

/* Slide Show css end*/
/* Slide Show css end*/
/* Slide Show css end*/


.home {
  position: static;
  /* height: 70vh;
    width: 100%; */

}

.signup_home {
  position: static;
}

/* 
.home::before{
     position: sticky;
     height: 75vh;
     width: 100%;
     background-color: rgba(0, 0, 0, 0.6);
     z-index: 101;
     opacity: 0;
     pointer-events: none;
     transition: all 0.5s ease-out;
}

.home.show::before{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s ease-out;
} */

.button {
  color: cornsilk;
  padding: 6px 24px;
  border: 2px solid cornsilk;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
}

.button:hover {
  border-color: #f2c225;
  color: #f22525;
}

.button:active {
  transform: scale(0.98);
}

#form_open {
  display: inline;
  position: relative;
  /* right: 10px; */
  left: 130px;
  margin: none;
}

#signup_form_open {
  display: inline;
  position: relative;
  /* right: 10px; */
  left: 25px;
  margin: none;
}

/* .signup_container {
    display: none;
} */
/* 
.form_container.active .signup_form {
    display: block ;
}

.form_container.active .login_form {
    display: none;
} */


/* FORM  */
.form_container {
  position: absolute;
  max-width: 320px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 101;
  background: #fff;
  padding: 25px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-out;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.home.show .form_container {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);

}

.form_close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #0b0217;
  font-size: 22px;
  opacity: 0.7;
  cursor: pointer;
}

.signup_form_close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #0b0217;
  font-size: 22px;
  opacity: 0.7;
  cursor: pointer;
}


.form_container h2 {
  font-size: 22px;
  color: #f2c225;
  text-align: center;
}

.input_box {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
}

.input_box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  color: #333;
  transition: all 0.5s ease;
  border-bottom: 1.5px solid #aaaa;
}

.input_box input:focus {
  border-color: #f2c225;
}

.input_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #707070;
}

.input_box i.email,
.input_box i.password {
  left: 0;
}

.input_box input:focus~i.email,
.input_box input:focus~i.password

/*i.hide*/
  {
  color: #f2c225;
  transition: all 0.3s ease;
}

.input_box i.hide {
  right: 0;
  font-size: 18px;

}

i.hide:active {
  color: #f2c225;
  transition: all 0.5s ease;
}

.option_field {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form_container,
a {
  color: #f2c225;
  font-size: 12px;
}

.form_container a:hover {
  text-decoration: underline;
  transform: scale(1.1);

}

.checkbox {
  display: flex;
  column-gap: 8px;
  white-space: nowrap;
  font-size: 12px;
}

.checkbox label {
  font-size: 12px;
  user-select: none;
  color: #bcbcbc;
  cursor: pointer;
}

.checkbox label:hover {
  color: #f2c225;
}

.checkbox input {
  accent-color: #f2c225;
}

.form_container .button {
  background: #f2c225;
  margin-top: 30px;
  width: 100%;
  padding: 12px 0;
  border-radius: 10px;
}

.login_signup {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
  color: #707070;
}

/* Signup form css */


.signup_body {
  position: absolute;
  top: 130px;
  right: 28%;
  z-index: 103;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 20px; */
  /* display: none; */

}


.signup_container {
  z-index: 102;
  position: fixed;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transform: translate(-20%, -20%) scale(1.1);

  opacity: 0;
  /* display: none; */
  pointer-events: none;
  transition: all 0.4s ease;
}

.signup_home.show .signup_container {
  position: sticky;
  opacity: 1;
  /* display: block; */
  pointer-events: auto;
  transform: translate(0) scale(1);

}

.signup_container header {
  font-size: 2rem;
  color: #f2c225;
  font-weight: 600;
  text-align: center;
}

/* 
  .signup_container header:hover {
    transform: scale(1.1);
    transition: 0.2s ease;
  } */

.signup_container .signup_form {
  margin-top: 30px;
}

.signup_form .signup_input-box {
  width: 100%;
  margin-top: 20px;
  color: #333;
}

.signup_input-box input::placeholder {
  color: #707070;
}

.signup_input-box::placeholder:focus {
  color: #f2c225;
}

.signup_input-box label {
  color: #f2c225;
}

.signup_form :where(.signup_input-box input) {
  position: static;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

.signup_input-box input:focus {
  box-shadow: 0 1px 0 rgba(72, 72, 72, 0.2);
  border-color: #f2c225;
}

.signup_form .signup_column {
  display: flex;
  column-gap: 15px;
}

.signup_form {
  margin-top: 20px;
  column-gap: 5px;
}


.signup_form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #f2c225;
}

.signup {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
  color: #707070;
}

/* footer */

.footer {
  /* background-color:#f22525; */
  position: relative;
  /* margin: none; */
}

.icons {
  display: flex;
  justify-content: center;
}

.icons a {
  text-decoration: none;
  padding: 8px;
  /* background-color:#f2c225; */
  border: 2px solid #f2c225;
  opacity: 0.5;
  /* margin: 5px; */
  margin: -10px 10px;
  border-radius: 50%;
}

.icons a:hover {
  opacity: 1;
  transition: 0.5s ease;

}

.icons a:active {
  transform: scale(1.2) translateY(-20%);
}

.icons a i {
  font-size: 2em;
  color: #f22525;
  opacity: 0.9;
}

/* footer end */

/* validation  */

#ibox {
  display: none;
}

.ibox {
  padding: 0 15px;
  color: #f22525;
}

.error,
.error1 {
  border: 2px solid red;

}

/* sidebar  */
/* sidebar  */

.sidebar {
  position: fixed;
  top: 10%;
  right: 0;
  height: 100%;
  width: 260px;
  background: #ffffff24;
  z-index: 100;
  transition: all 0.5s ease;
}

.sidebar.close {
  width: 0px;
}

/*
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
} */
.sidebar .nav-links {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}

.sidebar.close .nav-links {
  overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}

.sidebar .nav-links li:hover {
  background: #f2c2259d;
}

.sidebar .nav-links li .iocn-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar.close .nav-links li .iocn-link {
  display: block
}

.sidebar .nav-links li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: cornsilk;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
  display: none;
}

.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar .nav-links li a .link_name {
  font-size: 18px;
  font-weight: 400;
  color: cornsilk;
  transition: all 0.4s ease;
}

.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #ffffff46;
  display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}

.sidebar .nav-links li .sub-menu a {
  color: cornsilk;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1;
}

.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: 10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}

.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}

/* .sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
} */
.sidebar.close .profile-details {
  background: none;
}

.sidebar.close .profile-details {
  width: 78px;
}

.sidebar .profile-details .profile-content {
  display: flex;
  align-items: center;
}

/* .sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
} */
/* .sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
} */
/* .sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar .profile-details .job{
  font-size: 12px;
} */
.home-section {

  float: right;

  transition: all 0.5s ease;
  z-index: 103;
}

.sidebar.close~.home-section {
  left: 78px;
  width: calc(100% - 78px);
}

.home-section .home-content {
  height: 60px;
  display: flex;
  position: absolute;
  top: 8%;
  left: 80%;
  align-items: center;
  z-index: 105;
}

.home-section .home-content .bx-menu,
.home-section .home-content .text {
  color: cornsilk;
  font-size: 40px;
}

.home-section .home-content .bx-menu {
  margin: 0 15px;
  cursor: pointer;
}

.home-section .home-content .text {
  font-size: 26px;
  font-weight: 600;
}

@media (max-width: 400px) {
  .sidebar.close .nav-links li .sub-menu {
    display: none;
  }

  .sidebar {
    width: 78px;
  }

  .sidebar.close {
    width: 0;
  }

  .home-section {
    left: 78px;
    width: calc(100% - 78px);
    z-index: 100;
  }

  .sidebar.close~.home-section {
    width: 100%;
    left: 0;
  }
}

/* end sidebar  */
/* end sidebar  */

/*Responsive*/
@media screen and (max-width: 500px) {
  .signup_form .signup_column {
    flex-wrap: wrap;
  }
}

/* button display none  */
#signup_form_open,
#form_open {
  opacity: 0;
  pointer-events: none;
}

/* button display none  */