/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*{
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-image: linear-gradient(); */
    /* background-color: khaki; */
    
}
body{
    background-image: linear-gradient(to left,rgba(255, 0, 0, 0.5), rgba(255, 255, 0, 0.5) );
}


a{
    text-decoration: none;
}
/* .header{
    position: sticky;
    /* height: 10px;
    width: 100px;
    z-index: 100;
    padding: 0 20px;

} */
.nav{
    position:sticky;
    top: 20px;
    max-width: 1100px;
    width: 100%;
    margin: 20px auto;
}
.nav,
.nav_item{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;

}
.nav_item{
    column-gap: 50px;

}

.nav_item a:focus{
  border-bottom: 2px solid #f9d10b;

 }
 
.nav_link{
    color:cornsilk;
    font-size: 20px;
}
.nav_link:hover{
    color: #f22525;
    border-bottom: 2px solid #f9d10b;

}

.nav_link:focus{
  /* background-color: #dfdfdf7f;
  padding: 5px 10px;
  border-radius: 2px;
  opacity: 2; */
  border-bottom: 2px solid #f9d10b;
}
/* product grid */
/* product grid */

.product_grid_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 25px;
    padding: 25px 25px;
    z-index: 99;
    /* padding-bottom: 100%; */
}

.product_grid_container .gridBox{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    border: 2px solid #f2c225;
    background: #fff;
    text-align: center;
    padding: 30px 20px;
}

.product_grid_container .gridBox img{
    height: 100px;
}

.product_grid_container .gridBox h3{
    color: #f2c225;
    padding: 10px 0;
    font-size: 20px;
}
.product_grid_container .gridBox p{
    font-size: 16px;
    line-height: 20px;
}
/* product grid */
/* product grid */

.home {
  position: static;
  /* height: 70vh;
    width: 100%; */

}

.signup_home {
  position: static;
}

/* 
.home::before{
     position: sticky;
     height: 75vh;
     width: 100%;
     background-color: rgba(0, 0, 0, 0.6);
     z-index: 101;
     opacity: 0;
     pointer-events: none;
     transition: all 0.5s ease-out;
}

.home.show::before{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s ease-out;
} */

.button {
  color: cornsilk;
  padding: 6px 24px;
  border: 2px solid cornsilk;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
}

.button:hover {
  border-color: #f2c225;
  color: #f22525;
}

.button:active {
  transform: scale(0.98);
}

#form_open{
  display: inline;
  position: relative;
  /* right: 10px; */
  left: 130px;
  margin: none;
}

#signup_form_open{
    display: inline;
    position: relative;
    /* right: 10px; */
    left: 25px;
    margin: none;
}


/* .signup_container {
    display: none;
} */
/* 
.form_container.active .signup_form {
    display: block ;
}

.form_container.active .login_form {
    display: none;
} */


/* FORM  */
.form_container {
  position: absolute;
  max-width: 320px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 101;
  background: #fff;
  padding: 25px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-out;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.home.show .form_container {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);

}

.form_close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #0b0217;
  font-size: 22px;
  opacity: 0.7;
  cursor: pointer;
}

.signup_form_close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #0b0217;
  font-size: 22px;
  opacity: 0.7;
  cursor: pointer;
}


.form_container h2 {
  font-size: 22px;
  color: #f2c225;
  text-align: center;
}

.input_box {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
}

.input_box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  color: #333;
  transition: all 0.5s ease;
  border-bottom: 1.5px solid #aaaa;
}

.input_box input:focus {
  border-color: #f2c225;
}

.input_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #707070;
}

.input_box i.email,
.input_box i.password {
  left: 0;
}

.input_box input:focus~i.email,
.input_box input:focus~i.password

/*i.hide*/
  {
  color: #f2c225;
  transition: all 0.3s ease;
}

.input_box i.hide {
  right: 0;
  font-size: 18px;

}

i.hide:active {
  color: #f2c225;
  transition: all 0.5s ease;
}

.option_field {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form_container,
a {
  color: #f2c225;
  font-size: 12px;
}

.form_container a:hover {
  text-decoration: underline;
  transform: scale(1.1);

}

.checkbox {
  display: flex;
  column-gap: 8px;
  white-space: nowrap;
  font-size: 12px;
}

.checkbox label {
  font-size: 12px;
  user-select: none;
  color: #bcbcbc;
  cursor: pointer;
}

.checkbox label:hover {
  color: #f2c225;
}

.checkbox input {
  accent-color: #f2c225;
}

.form_container .button {
  background: #f2c225;
  margin-top: 30px;
  width: 100%;
  padding: 12px 0;
  border-radius: 10px;
}

.login_signup {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
  color: #707070;
}

/* Signup form css */


.signup_body {
  position: absolute;
  top: 130px;
  right: 28%;
  z-index: 103;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 20px; */
  /* display: none; */

}


.signup_container {
  z-index: 102;
  position:fixed;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transform: translate(-20% , -20%) scale(1.1);

  opacity: 0;
  /* display: none; */
  pointer-events: none;
  transition: all 0.4s ease;
}

.signup_home.show .signup_container{
  position:sticky;
  opacity: 1;
  /* display: block; */
  pointer-events: auto;
  transform: translate(0) scale(1);

}

.signup_container header {
  font-size: 2rem;
  color: #f2c225;
  font-weight: 600;
  text-align: center;
}

/* 
  .signup_container header:hover {
    transform: scale(1.1);
    transition: 0.2s ease;
  } */

.signup_container .signup_form {
  margin-top: 30px;
}

.signup_form .signup_input-box {
  width: 100%;
  margin-top: 20px;
  color: #333;
}

.signup_input-box input::placeholder {
  color: #707070;
}

.signup_input-box::placeholder:focus {
  color: #f2c225;
}

.signup_input-box label {
  color: #f2c225;
}

.signup_form :where(.signup_input-box input) {
  position: static;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

.signup_input-box input:focus {
  box-shadow: 0 1px 0 rgba(72, 72, 72, 0.2);
  border-color: #f2c225;
}

.signup_form .signup_column {
  display: flex;
  column-gap: 15px;
}

.signup_form {
  margin-top: 20px;
  column-gap: 5px;
}


.signup_form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #f2c225;
}

.signup {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
  color: #707070;
}

/* validation  */

.error,
.error1 {
  border: 2px solid red;

}

/*Responsive*/
@media screen and (max-width: 500px) {
  .signup_form .signup_column {
    flex-wrap: wrap;
  }
}